@model AspnetIdentitySample.Models.MyUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeTown)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeTown)
        </dd>
    </dl>
</div>
<h4>List Of Roles</h4>
<table class="table table-striped">

    @foreach (var item in Model.Roles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
        </tr>
    }
</table>

<h4>List Of Logins</h4>
<table class="table table-striped">

    @foreach (var item in Model.Logins)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoginProvider)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



