@model AspnetIdentitySample.Models.BeforePasswordResetViewModel

@{
    ViewBag.Title = "Forgot your password?";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Forgot password</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(model => model.Email)
				@Html.ValidationMessageFor(model => model.Email, null, new { @class = "help-inline" })
			</div>
		</div>

        <div class="form-actions no-color">
            <input type="submit" value="Submit" class="btn" />
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
