@model AspnetIdentitySample.Models.PasswordResetViewModel

@{
    ViewBag.Title = "PasswordReset";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="text-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>PasswordResetViewModel</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.Token, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(model => model.Token)
				@Html.ValidationMessageFor(model => model.Token, null, new { @class = "help-inline" })
			</div>
		</div>

        <div class="control-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(model => model.Password)
				@Html.ValidationMessageFor(model => model.Password, null, new { @class = "help-inline" })
			</div>
		</div>

        <div class="control-group">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(model => model.ConfirmPassword)
				@Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "help-inline" })
			</div>
		</div>

        <div class="form-actions no-color">
            <input type="submit" value="Change password" class="btn" />
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

